.auth-background {
  background-image: url('/background.png');
}

.right-login-background {
  background-image: url('/imageLogin.png');
}

.right-register-background {
  background-image: url('/imageRegister.png');
}

.bg-button-login {
  background: linear-gradient(135deg, #e25572 0%, #eb9858 100%) !important;
}
