.Chatbot-tabs .ant-tabs-tab {
  @apply w-[165px] h-[43px] rounded-[10px] text-[15px] justify-center bg-white !border-solid !border-[1px] border-[#E7E8F2];
}

.import-data-tabs .ant-tabs-tab {
  @apply !bg-[#E8E9F4];
}

.import-data-tabs .ant-tabs-tab-btn {
  @apply !text-[#01058A];
}

.Chatbot-tabs .ant-tabs-tab-btn {
  @apply text-[#807d9b];
}
.Chatbot-tabs .ant-tabs-nav::before {
  @apply !hidden;
}

.Chatbot-tabs .ant-tabs-tab:nth-child(6) .ant-tabs-tab-btn {
  @apply !text-[#01058A];
}

.Chatbot-tabs .ant-tabs-tab:nth-child(6) {
  @apply absolute right-0 bg-[#E8E9F4] font-bold;
}

.Chatbot-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply !text-white bg-[#4AC1FF] w-[165px] rounded-[10px] font-bold h-[43px] justify-center flex items-center;
}

.Chatbot-tabs .ant-tabs-nav-list {
  @apply w-full;
}

.Bog-config .ant-radio-group {
  @apply !flex;
}

.Bog-config .ant-radio-button-wrapper {
  @apply text-[15px] mr-[30px] h-[41px] w-[145px] rounded-[10px] flex items-center justify-center bg-[#E8E9F4] text-[#01058A];
}

.Bog-config .ant-radio-button-wrapper:nth-child(3) {
  @apply opacity-50;
}

.Bog-config .ant-radio-button-wrapper:not(:first-child)::before {
  @apply hidden;
}

.Bog-config
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  @apply bg-[#4AC1FF] font-bold border-none;
}

.Bog-config .ant-select-selector {
  @apply !h-full items-center;
}

.Bog-config
  .ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):hover {
  @apply hover:bg-[#4ac1ff];
}

.Prompt .ant-slider-horizontal .ant-slider-rail {
  @apply h-[14px] rounded-[20px] bg-[#DDE0F1];
}

.Prompt .ant-slider-horizontal .ant-slider-handle {
  @apply top-[6px];
}

.Prompt .ant-slider-horizontal .ant-slider-track {
  @apply h-[14px] bg-[#1AA8E9] rounded-[20px];
}

.Prompt .ant-switch.ant-switch-small {
  @apply bg-[#DDE0F1] w-[46px] h-[24px];
}

.Prompt .ant-switch.ant-switch-small.ant-switch-checked .ant-switch-inner {
  @apply bg-[#4AC1FF];
}
.Prompt
  :where(
    .css-dev-only-do-not-override-17a39f8
  ).ant-switch.ant-switch-small.ant-switch-checked
  .ant-switch-handle {
  @apply start-[calc(100%-24px)];
}

.Prompt .ant-switch.ant-switch-small .ant-switch-handle {
  @apply w-[24px] h-[24px] !top-0;
}

.Prompt .ant-switch .ant-switch-handle::before {
  @apply !bg-[#4AC1FF] !rounded-[100px];
}

.Conversations .ant-select {
  @apply w-[calc(100%-330px)];
}

.Conversations .ant-select-selector {
  @apply !h-[43px] !items-center rounded-[8px] text-[15px] font-bold justify-center;
}

.Conversations .ant-select-selector .ant-select-selection-search-input {
  @apply !h-full;
}

.Conversations .ant-select-selection-item,
.ant-select-selection-placeholder {
  @apply font-bold;
}

.Setting .ant-checkbox-inner {
  @apply w-[25px] h-[25px];
}

.Setting .ant-checkbox-inner:after {
  @apply w-[8px] h-[12px];
}

.Prompt .ant-radio-group {
  @apply !flex;
}

.Prompt .ant-radio-button-wrapper {
  @apply text-[15px] mr-[30px] h-[41px] w-[145px] rounded-[10px] flex items-center justify-center bg-[#E8E9F4] text-[#01058A];
}

.Prompt .ant-radio-button-wrapper:nth-child(3) {
  @apply opacity-50;
}

.Prompt .ant-radio-button-wrapper:not(:first-child)::before {
  @apply hidden;
}

.Prompt
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  @apply bg-[#4AC1FF] font-bold border-none;
}

.Prompt .ant-select-selector {
  @apply !h-full items-center;
}

.Prompt
  .ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):hover {
  @apply hover:bg-[#4ac1ff];
}

.input-showing-number {
  color: red;
}

.chart {
  padding: 20px;
}

.pie-chart {
  position: relative;
  font-size: 2em;
  border-radius: 50%;
}
.pie-chart--donut:after {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
  content: '';
}

.pie-chart__value {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  transform: translate(-50%, -50%);
  z-index: 1;
}

[data-chart='2'] .pie-chart {
  width: 200px;
  height: 200px;
  background: conic-gradient(
    #fd7e15 70deg,
    #fd7e15 50deg,
    #be4adb 50deg,
    #be4adb 140deg,
    #f4a524 140deg,
    #f4a524 220deg,
    #09b7db 220deg,
    #09b7db 287deg,
    #4b6ef5 287deg
  );
}
[data-chart='2'] .pie-chart--donut:after {
  width: 150px;
  height: 150px;
}
[data-chart='2'] .pie-chart__value {
  font-size: 26px;
  color: #0982db;
}

.integration-slack-modal .ant-modal-content {
  @apply h-[90vh];
}

.integration-slack-modal .ant-modal-body {
  @apply h-full;
}

.Pricing .ant-slider-horizontal .ant-slider-rail {
  @apply h-[14px] rounded-[20px] bg-[#F2F4F7];
}

.Pricing .ant-slider-horizontal .ant-slider-handle {
  @apply top-[6px];
}

.Pricing .ant-slider-horizontal .ant-slider-track {
  @apply h-[14px] bg-[#1AA8E9] rounded-[20px];
}

.Pricing .ant-switch.ant-switch-small {
  @apply bg-[#F2F4F7] w-[44px] h-[24px];
}

.Pricing .ant-switch.ant-switch-small.ant-switch-checked .ant-switch-inner {
  @apply bg-[#4AC1FF];
}
.Pricing
  :where(
    .css-dev-only-do-not-override-17a39f8
  ).ant-switch.ant-switch-small.ant-switch-checked
  .ant-switch-handle {
  @apply start-[calc(100%-24px)];
}

.Pricing .ant-switch.ant-switch-small .ant-switch-handle {
  @apply w-[21px] h-[21px] !top-[1px];
}

.Pricing .ant-switch .ant-switch-handle::before {
  @apply !bg-[#FFF] !rounded-[100px];
}
